.about-stats {
    background-color: var(--backgroundGrey);
    padding: 80px 0;
    position: relative;
    max-width: 1436px;
    margin: 0 auto;
    position: relative;
    height: 1167px;

    @media(--tablet) {
        padding: 100px 0;
    }

    &:after {
        content: "."; 
        visibility: hidden; 
        display: block; 
        height: 0; 
        clear: both;
    }
}

.about-stats-container {
    position: relative;
    max-width: 1286px;
    margin: 0 auto;
    height: 100%;
}

.about-stats-item {
    display: flex;
    align-items: flex-start;
}

.about-stats-item--second {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 0;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
    transform: translateY(-50%);

    .about-stats-image {
        max-width: 416px;
        width: 100%;
    }

    .about-stats-content {
        margin-bottom: 127px;
        flex-direction: row-reverse;
        margin-right: -67px;
        position: relative;
        z-index: 1;
        max-width: 423px;
        width: 100%;
        text-align: right;
        margin-top: 0;
        margin-left: 0;
    }

    .about-stats-pointer {
        flex-direction: row-reverse;
    }
}

.about-stats-item--third {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    align-items: flex-end;
    width: 100%;

    .about-stats-image {
        max-width: 416px;
        width: 100%;
    }

    .about-stats-content {
        margin-bottom: 127px;
        margin-left: -67px;
        position: relative;
        z-index: 1;
        margin-top: 0;
    }
}

.about-stats-image {
    position: relative;
    width: 50%;

    img {
        width: 100%;
        display: block;
    }
}

.about-stats-content {
    display: flex;
    width: 50%;
    max-width: 540px;
    align-items: center;
    margin-top: 70px;
    margin-left: -67px;
    position: relative;
    z-index: 1;

}

.about-stats-text {
    display: flex;
    flex-direction: column;
}

.about-stats-pointer {
    display: flex;
    max-width: 340px;
    width: 100%;
    align-items: center;

    &:after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: var(--green);
        transform: translateX(-1px);
    }

    svg {
        width: 135px;
        height: 135px;
    }
}

.about-stats-heading {
    font-family: var(--roboto);
    color: var(--darkGrey);
    font-size: 15px;
    font-weight: 700;
}

.about-stats-number {
    font-family: var(--condensed);
    color: var(--darkGrey);
    font-size: 55px;
    font-weight: 700;
}

.about-stats-subheading {
    font-family: var(--roboto);
    color: var(--lightTextGrey);
    font-size: 13px;
    text-transform: uppercase;
}