.events-container {
    background-color: var(--backgroundGrey);

    .button {
        margin: 0 40px;

        @media(--tablet) {
            margin: 20px 20px 20px 78px;
        }
    }
}

.events-intro-list {
    list-style: none;
    padding: 0 40px;
    margin: 20px 0;

    @media(--tablet) {
        padding: 0;
        margin: 20px 20px 40px 78px;
    }
}


.events-intro-list-item {
    font-family: var(--roboto);
    font-size: 14px;
    color: var(--lightTextGrey);
    position: relative;
    padding-left: 40px;
    line-height: 1.71;

    &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: var(--green);
        position: absolute;
        top: 6px;
        left: 0;
    }
 }