.button {
    appearance: none;
    padding: 14px 20px;
    background-color: transparent;
    display: block;
    border: 2px solid var(--green);
    position: relative;
    cursor: pointer;
    min-width: 200px;
    transition: background-color 0.25s;

    &:hover {
        background-color: var(--green);

        .button-text {
            color: var(--white);
        }
    }

    .button-corner {
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        -webkit-transition: 0.3s 0.3s ease-in-out;
        transition: 0.3s 0.3s ease-in-out;

        &:after {
            position: absolute;
            width: 5px;
            height: 5px;
            background: var(--green);
            content: '';
        }
    }

    .button-text {
        font-family: var(--condensed);
        font-size: 14px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: var(--green);
        transition: color 0.25s;
    }

    .button-corner--top-right {
        top: -1px;
        right: -1px;

        &:after {
            right: -2px;
            top: -2px;
        }
    }

    .button-corner--top-left {
        top: -1px;
        left: -1px;

        &:after {
            left: -2px;
            top: -2px;
        }
    }

    .button-corner--bottom-right {
        bottom: -1px;
        right: -1px;

        &:after {
            right: -2px;
            bottom: -2px;
        }
    }

    .button-corner--bottom-left {
        bottom: -1px;
        left: -1px;

        &:after {
            left: -2px;
            bottom: -2px;
        }
    }
}
